.download {
  background-color: #312F30;
  padding: 70px 0;

  // .download__title

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
  }

}

