<div class="container">
  <button class="modal-btn modal-open" data-modal-open="modal-1">Open</button>
</div>

<div class="modal" data-modal="modal-1">
  <div class="modal-bg">
    <div class="modal-body">
      <div class="modal-close"></div>
      <div class="modal-content modal-callback">
        <div class="modal-calback__title">Модальное окно</div>
        <div class="modal-calback__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ad tempore error! Facilis quis repellendus illum beatae sapiente possimus, asperiores modi, consequatur repellat blanditiis alias dolores mollitia illo, neque sed fugiat. Quis tempora fugiat iusto labore dolorum cupiditate tenetur totam quo temporibus eaque! Iste suscipit odio inventore consequuntur, harum illo?</div>
      </div>
    </div>
  </div>
</div>