$black: #000;
$white: #fff;

$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin font($name, $weight) {
  font: {
    family: $name;
    weight: $weight;
    display: swap;
  }
  src: url("../fonts/#{ $name }-#{ $weight }.woff2") format("woff2"),
    url("../fonts/#{ $name }-#{ $weight }.woff") format("woff");
}
